@charset 'utf-8';

.black {color:#1a1a1a;}
.cerulean {color:#0288d1;}
.coolGrey {color:#9aa3b1;}
.coolGreyTwo {color:#abb2be;}
.charcoalGrey {color:#282c34;}
.charcoalGreyTow {color:#353b45;}
.dark {color:#1b1e23;}
.darkBlueGrey {color:#233358;}
.slateGrey {color:#5c6677;}
.paleGrey {color:#eef0f2;}
.paleGreyTow {color:#f2f4f7;}
.paleGreyThree {color:#f4f5f6;}
.paleGreyFour {color:#f5f7fa;}
.lightBlueGrey {color:#d2d9e5;}
.steel {color:#788497;}
.gunmetal {color:#424956;}
.pinkishRed {color:#ea2829;}
.pinkishGrey {color:#dbccba;}
.paleGreyTwo {color:#f5f7fa;}
.paleGreyFour {color:#f9fafb;}
.reddishOrange {color:#f4511e;}
.silver {color:#dde0e5;}
.silverTwo {color: #ccd1d8;}
.steelTwo {color:#7a828e;}
.twilight {color:#574b97;}
.twilightBlue {color:#0c367a;}
.white {color:#ebebeb;}

/* 임시 */
.hr_test {margin:50px 0; height:2px; border:0; background:#ccd1d8;}
.h2_test {margin:25px 0 10px; font-size:20px;}
.h3_test {margin:20px 0 5px; font-size:18px;}
.h4_test {margin:15px 0 5px; font-size:14px;}

